{% extends "../registration/home.html" %} {% block content %}
<div
  class="px-4 py-5 px-md-5 text-center text-lg-start"
  style="background-color: hsl(0, 0%, 96%)"
>
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form action="" method="POST">
              {% csrf_token %}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              {% for field in form %}
              <div>
                <p>
                  {{ field.label }} :<br />
                  {{ field }}
                  <span class="">{{field.help_text}}</span>
                </p>

                {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
                {% endfor %}
              </div>
              {% endfor %}

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Update post
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
